openapi: 3.0.0
info:
  contact:
    name: Syniol Support
    url: https://syniol.com
  description: RESTful API for enriching financial transactions.
  title: XYO RESTful Transaction Enrichment API
  version: 2.0.0
servers:
- description: Production API Server
  url: https://api.xyo.financial
security:
- BearerAuth: []
tags:
- description: Endpoints related to enriching financial transactions.
  name: Enrichment
paths:
  /v1/ai/finance/enrichment/transaction:
    post:
      description: Enrich a single financial transaction synchronously.
      operationId: enrichTransaction
      parameters:
      - description: Unique caller correlation identifier (UUIDv4) for distributed
          tracing across microservice boundaries.
        explode: false
        in: header
        name: X-Correlation-ID
        required: false
        schema:
          example: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
          format: uuid
          type: string
        style: simple
      - description: Standard W3C TraceContext header (version-trace_id-parent_id-trace_flags)
          for distributed APM tracing.
        explode: false
        in: header
        name: traceparent
        required: false
        schema:
          example: 00-4bf92f3577b34da6a3ce929d0e0e4736-00f067aa0ba902b7-01
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              costa:
                description: Single payment description from a UK Costa Coffee pickup
                  order.
                summary: Costa Coffee transaction
                value:
                  content: COSTA PICKUP LONDON
                  countryCode: GB
              starbucks:
                description: Single payment description from a US Starbucks store
                  order.
                summary: Starbucks transaction
                value:
                  content: "STARBUCKS STORE #10423 SEATTLE WA"
                  countryCode: US
              uber:
                description: Single payment description from an Uber ride.
                summary: Uber ride transaction
                value:
                  content: UBER *TRIP 12345 HELP.UBER.COM
                  countryCode: GB
              tfl:
                description: Single payment description from TfL contactless travel
                  charge.
                summary: Transport for London transaction
                value:
                  content: TfL Travel Charge tfl.gov.uk
                  countryCode: GB
            schema:
              $ref: "#/components/schemas/EnrichmentRequest"
        description: Transaction enrichment request payload containing payment text
          and ISO-3166-1 alpha-2 country code.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                costa:
                  description: "Enrichment response for Costa Coffee in London, UK."
                  summary: Costa Coffee enriched response
                  value:
                    merchant: Costa Coffee
                    description: Costa Coffee is a British coffeehouse chain and a
                      subsidiary of The Coca-Cola Company.
                    categories:
                    - Food & Beverage
                    - Cafes & Coffee Shops
                    - Dining Out
                    logo: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+M9QDwADhgGAWjR9awAAAABJRU5ErkJggg=="
                    location: "United Kingdom, London"
                    address: "40-42 Great Portland St, Marylebone, London W1W 7LZ"
                starbucks:
                  description: "Enrichment response for Starbucks store in Seattle,\
                    \ US."
                  summary: Starbucks enriched response
                  value:
                    merchant: Starbucks
                    description: "Starbucks Corporation is an American multinational\
                      \ chain of coffeehouses and roastery reserves headquartered\
                      \ in Seattle, Washington."
                    categories:
                    - Food & Beverage
                    - Cafes & Coffee Shops
                    - Dining Out
                    logo: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+M9QDwADhgGAWjR9awAAAABJRU5ErkJggg=="
                    location: "United States, Seattle"
                    address: "1912 Pike Pl, Seattle, WA 98101"
                uber:
                  description: Enrichment response for Uber ride-hailing services.
                  summary: Uber enriched response
                  value:
                    merchant: Uber
                    description: "Uber Technologies, Inc. provides mobility services,\
                      \ ride-hailing, food delivery, and freight transport."
                    categories:
                    - Transportation
                    - Ride Sharing & Taxis
                    - Travel
                    logo: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+M9QDwADhgGAWjR9awAAAABJRU5ErkJggg=="
                    location: "United Kingdom, London"
                    address: "Aldgate Tower, 2 Leman St, London E1 8FA"
                tfl:
                  description: Enrichment response for Transport for London public
                    transit.
                  summary: Transport for London enriched response
                  value:
                    merchant: Transport for London
                    description: Transport for London (TfL) is the local government
                      body responsible for the transport network in Greater London.
                    categories:
                    - Public Transportation
                    - Trains & Subways
                    - Commuter Transit
                    logo: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+M9QDwADhgGAWjR9awAAAABJRU5ErkJggg=="
                    location: "United Kingdom, London"
                    address: "5 Endeavour Square, London E20 1JN"
              schema:
                $ref: "#/components/schemas/EnrichmentResponse"
          description: Successful response returning enriched merchant and categorization
            details.
          headers:
            X-Correlation-ID:
              $ref: "#/components/headers/CorrelationIdResponseHeader"
        "429":
          content:
            application/json:
              examples:
                rateLimitExceeded:
                  summary: 429 Rate Limit Exceeded
                  value:
                    errors:
                    - type: https://api.xyo.financial/errors/rate-limit-exceeded
                      title: Too Many Requests
                      status: 429
                      detail: Rate limit quota exceeded. Please retry after 30 seconds.
                      instance: urn:trace:9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Too Many Requests - Rate limit or quota exceeded.
          headers:
            Retry-After:
              $ref: "#/components/headers/RetryAfter"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimitLimit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimitRemaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimitReset"
            X-Correlation-ID:
              $ref: "#/components/headers/CorrelationIdResponseHeader"
        "3XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Redirection
        "4XX":
          content:
            application/json:
              examples:
                unauthorized:
                  summary: 401 Unauthorized Error
                  value:
                    errors:
                    - type: https://api.xyo.financial/errors/unauthorized
                      title: Unauthorized
                      status: 401
                      detail: Invalid or expired Bearer authentication token provided.
                      instance: /v1/ai/finance/enrichment/transaction#req-001
                badRequest:
                  summary: 400 Bad Request Error
                  value:
                    errors:
                    - type: https://api.xyo.financial/errors/bad-request
                      title: Bad Request
                      status: 400
                      detail: Request body is missing required field 'countryCode'.
                      instance: /v1/ai/finance/enrichment/transaction#req-002
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Client Error
          headers:
            X-Correlation-ID:
              $ref: "#/components/headers/CorrelationIdResponseHeader"
        "5XX":
          content:
            application/json:
              examples:
                internalServerError:
                  summary: 500 Internal Server Error
                  value:
                    errors:
                    - type: https://api.xyo.financial/errors/internal-server-error
                      title: Internal Server Error
                      status: 500
                      detail: An unexpected server error occurred while processing
                        transaction enrichment.
                      instance: /v1/ai/finance/enrichment/transaction#req-003
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Server Error
          headers:
            X-Correlation-ID:
              $ref: "#/components/headers/CorrelationIdResponseHeader"
      security:
      - BearerAuth: []
      summary: Transaction Enrichment
      tags:
      - Enrichment
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/ai/finance/enrichment/transactions:
    post:
      description: Enrich a collection of financial transactions asynchronously.
      operationId: enrichTransactions
      parameters:
      - deprecated: false
        description: Optional identifier for the API user or tenant.
        example: syniol
        explode: false
        in: header
        name: x-api-user
        required: false
        schema:
          type: string
        style: simple
      - description: Unique caller correlation identifier (UUIDv4) for distributed
          tracing across microservice boundaries.
        explode: false
        in: header
        name: X-Correlation-ID
        required: false
        schema:
          example: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
          format: uuid
          type: string
        style: simple
      - description: Standard W3C TraceContext header (version-trace_id-parent_id-trace_flags)
          for distributed APM tracing.
        explode: false
        in: header
        name: traceparent
        required: false
        schema:
          example: 00-4bf92f3577b34da6a3ce929d0e0e4736-00f067aa0ba902b7-01
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              batchSample:
                description: "A collection of transactions including Costa Coffee,\
                  \ Starbucks, Uber, and Transport for London."
                summary: Batch of sample transactions
                value:
                - content: COSTA PICKUP LONDON
                  countryCode: GB
                - content: "STARBUCKS STORE #10423 SEATTLE WA"
                  countryCode: US
                - content: UBER *TRIP 12345 HELP.UBER.COM
                  countryCode: GB
                - content: TfL Travel Charge tfl.gov.uk
                  countryCode: GB
            schema:
              description: "Array of transactions to enrich (bounded between 1 and\
                \ 50,000 items)."
              items:
                $ref: "#/components/schemas/enrichTransactions_request_inner"
              maxItems: 50000
              minItems: 1
              type: array
        description: "Array of transaction enrichment requests (minimum 1, maximum\
          \ 50,000 items) for asynchronous batch processing."
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                jobCreated:
                  summary: Asynchronous job created
                  value:
                    id: 72c037df-d0d3-43ee-9470-323ff35a2e50
                    link: https://api.xyo.financial/v1/ai/finance/enrichment/download/72c037df-d0d3-43ee-9470-323ff35a2e50.tar.gz
              schema:
                $ref: "#/components/schemas/EnrichTransactionCollectionResponse"
          description: Successful response returning bulk job ID and download archive
            link.
          headers:
            X-Correlation-ID:
              $ref: "#/components/headers/CorrelationIdResponseHeader"
        "429":
          content:
            application/json:
              examples:
                rateLimitExceeded:
                  summary: 429 Rate Limit Exceeded
                  value:
                    errors:
                    - type: https://api.xyo.financial/errors/rate-limit-exceeded
                      title: Too Many Requests
                      status: 429
                      detail: Rate limit quota exceeded. Please retry after 30 seconds.
                      instance: urn:trace:9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Too Many Requests - Rate limit or quota exceeded.
          headers:
            Retry-After:
              $ref: "#/components/headers/RetryAfter"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimitLimit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimitRemaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimitReset"
            X-Correlation-ID:
              $ref: "#/components/headers/CorrelationIdResponseHeader"
        "3XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Redirection
        "4XX":
          content:
            application/json:
              examples:
                emptyBatch:
                  summary: 400 Bad Request (Empty Batch)
                  value:
                    errors:
                    - type: https://api.xyo.financial/errors/invalid-batch-size
                      title: Invalid Batch Size
                      status: 400
                      detail: "Batch payload must contain at least 1 transaction (minItems:\
                        \ 1)."
                      instance: /v1/ai/finance/enrichment/transactions#req-004
                oversizedBatch:
                  summary: 400 Bad Request (Oversized Batch)
                  value:
                    errors:
                    - type: https://api.xyo.financial/errors/invalid-batch-size
                      title: Invalid Batch Size
                      status: 400
                      detail: "Batch payload exceeds maximum limit of 50,000 transactions\
                        \ (maxItems: 50000). Please partition into smaller batches."
                      instance: /v1/ai/finance/enrichment/transactions#req-005
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Client Error
          headers:
            X-Correlation-ID:
              $ref: "#/components/headers/CorrelationIdResponseHeader"
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Server Error
          headers:
            X-Correlation-ID:
              $ref: "#/components/headers/CorrelationIdResponseHeader"
      security:
      - BearerAuth: []
      summary: Transaction Enrichments
      tags:
      - Enrichment
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/ai/finance/enrichment/status/{id}:
    get:
      description: Get the status of an asynchronous bulk enrichment job.
      operationId: getEnrichmentStatus
      parameters:
      - description: The unique identifier of the asynchronous bulk enrichment job.
        example: 72c037df-d0d3-43ee-9470-323ff35a2e50
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - deprecated: false
        description: Optional identifier for the API user or tenant.
        example: syniol
        explode: false
        in: header
        name: x-api-user
        required: false
        schema:
          type: string
        style: simple
      - description: Unique caller correlation identifier (UUIDv4) for distributed
          tracing across microservice boundaries.
        explode: false
        in: header
        name: X-Correlation-ID
        required: false
        schema:
          example: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
          format: uuid
          type: string
        style: simple
      - description: Standard W3C TraceContext header (version-trace_id-parent_id-trace_flags)
          for distributed APM tracing.
        explode: false
        in: header
        name: traceparent
        required: false
        schema:
          example: 00-4bf92f3577b34da6a3ce929d0e0e4736-00f067aa0ba902b7-01
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                ready:
                  summary: Job completed and ready
                  value:
                    status: READY
                pending:
                  summary: Job still processing
                  value:
                    status: PENDING
                failed:
                  summary: Job processing failed
                  value:
                    status: FAILED
              schema:
                $ref: "#/components/schemas/EnrichmentCollectionStatusResponse"
          description: Successful response returning the current processing status
            of the bulk enrichment job.
          headers:
            X-Correlation-ID:
              $ref: "#/components/headers/CorrelationIdResponseHeader"
        "429":
          content:
            application/json:
              examples:
                rateLimitExceeded:
                  summary: 429 Rate Limit Exceeded
                  value:
                    errors:
                    - type: https://api.xyo.financial/errors/rate-limit-exceeded
                      title: Too Many Requests
                      status: 429
                      detail: Rate limit quota exceeded. Please retry after 30 seconds.
                      instance: urn:trace:9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Too Many Requests - Rate limit or quota exceeded.
          headers:
            Retry-After:
              $ref: "#/components/headers/RetryAfter"
            RateLimit-Limit:
              $ref: "#/components/headers/RateLimitLimit"
            RateLimit-Remaining:
              $ref: "#/components/headers/RateLimitRemaining"
            RateLimit-Reset:
              $ref: "#/components/headers/RateLimitReset"
            X-Correlation-ID:
              $ref: "#/components/headers/CorrelationIdResponseHeader"
        "3XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Redirection
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Client Error
          headers:
            X-Correlation-ID:
              $ref: "#/components/headers/CorrelationIdResponseHeader"
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Server Error
          headers:
            X-Correlation-ID:
              $ref: "#/components/headers/CorrelationIdResponseHeader"
      security:
      - BearerAuth: []
      summary: Transaction Enrichments Status
      tags:
      - Enrichment
      x-accepts:
      - application/json
components:
  headers:
    RetryAfter:
      description: Number of seconds the client must wait before retrying the rate-limited
        request.
      explode: false
      schema:
        example: 30
        type: integer
      style: simple
    RateLimitLimit:
      description: Maximum number of requests permitted in the current rate limit
        window.
      explode: false
      schema:
        example: 100
        type: integer
      style: simple
    RateLimitRemaining:
      description: Remaining number of requests allowed in the current rate limit
        window.
      explode: false
      schema:
        example: 0
        type: integer
      style: simple
    RateLimitReset:
      description: Time in seconds remaining until the rate limit window resets.
      explode: false
      schema:
        example: 30
        type: integer
      style: simple
    CorrelationIdResponseHeader:
      description: Unique correlation identifier echoed back in the response for end-to-end
        distributed tracing.
      explode: false
      schema:
        example: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
        format: uuid
        type: string
      style: simple
  parameters:
    CorrelationIdHeader:
      description: Unique caller correlation identifier (UUIDv4) for distributed tracing
        across microservice boundaries.
      explode: false
      in: header
      name: X-Correlation-ID
      required: false
      schema:
        example: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
        format: uuid
        type: string
      style: simple
    TraceParentHeader:
      description: Standard W3C TraceContext header (version-trace_id-parent_id-trace_flags)
        for distributed APM tracing.
      explode: false
      in: header
      name: traceparent
      required: false
      schema:
        example: 00-4bf92f3577b34da6a3ce929d0e0e4736-00f067aa0ba902b7-01
        type: string
      style: simple
  responses:
    TooManyRequestsError:
      content:
        application/json:
          examples:
            rateLimitExceeded:
              summary: 429 Rate Limit Exceeded
              value:
                errors:
                - type: https://api.xyo.financial/errors/rate-limit-exceeded
                  title: Too Many Requests
                  status: 429
                  detail: Rate limit quota exceeded. Please retry after 30 seconds.
                  instance: urn:trace:9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
          schema:
            $ref: "#/components/schemas/ErrorResponse"
      description: Too Many Requests - Rate limit or quota exceeded.
      headers:
        Retry-After:
          $ref: "#/components/headers/RetryAfter"
        RateLimit-Limit:
          $ref: "#/components/headers/RateLimitLimit"
        RateLimit-Remaining:
          $ref: "#/components/headers/RateLimitRemaining"
        RateLimit-Reset:
          $ref: "#/components/headers/RateLimitReset"
        X-Correlation-ID:
          $ref: "#/components/headers/CorrelationIdResponseHeader"
  schemas:
    APIError:
      description: RFC 7807 compliant problem details object representing an API error.
      example:
        type: https://api.xyo.financial/errors/unauthorized
        title: Unauthorized
        status: 401
        detail: Invalid or expired Bearer authentication token provided.
        instance: /v1/ai/finance/enrichment/transaction#req-9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
      properties:
        type:
          description: A URI reference identifying the problem type.
          example: https://api.xyo.financial/errors/unauthorized
          type: string
        title:
          description: "A short, human-readable summary of the problem type."
          example: Unauthorized
          type: string
        status:
          description: The HTTP status code generated by the origin server for this
            occurrence of the problem.
          example: 401
          type: integer
        detail:
          description: A human-readable explanation specific to this occurrence of
            the problem.
          example: Invalid or expired Bearer authentication token provided.
          type: string
        instance:
          description: A URI reference identifying the specific occurrence of the
            problem.
          example: /v1/ai/finance/enrichment/transaction#req-9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
          type: string
      required:
      - detail
      - instance
      - status
      - title
      - type
      type: object
    ErrorResponse:
      description: Standard error response envelope containing a list of RFC 7807
        problem details errors.
      example:
        errors:
        - type: https://api.xyo.financial/errors/unauthorized
          title: Unauthorized
          status: 401
          detail: Invalid or expired Bearer authentication token provided.
          instance: /v1/ai/finance/enrichment/transaction#req-9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
      properties:
        errors:
          description: List of problem details errors returned by the API.
          items:
            $ref: "#/components/schemas/APIError"
          type: array
      required:
      - errors
      type: object
    EnrichmentRequest:
      example:
        content: COSTA PICKUP LONDON
        countryCode: GB
      properties:
        content:
          description: "Content is the payment description, maximum 128 characters."
          example: COSTA PICKUP LONDON
          maxLength: 128
          type: string
        countryCode:
          description: CountryCode is the ISO 3166-1 alpha-2 two-character country
            code.
          example: GB
          maxLength: 2
          minLength: 2
          type: string
      required:
      - content
      - countryCode
      title: EnrichmentRequest
      type: object
    EnrichmentResponse:
      example:
        merchant: Costa Coffee
        description: Costa Coffee is a British coffeehouse chain and a subsidiary
          of The Coca-Cola Company.
        categories:
        - Food & Beverage
        - Cafes & Coffee Shops
        - Dining Out
        logo: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+M9QDwADhgGAWjR9awAAAABJRU5ErkJggg=="
        location: "United Kingdom, London"
        address: "40-42 Great Portland St, London W1W 7LZ"
      properties:
        merchant:
          description: Merchant is the name of the merchant.
          example: Costa Coffee
          type: string
        description:
          description: Description is a brief description of the merchant.
          example: Costa Coffee is a British coffeehouse chain and a subsidiary of
            The Coca-Cola Company.
          type: string
        categories:
          description: Categories lists categories fitting the description of the
            merchant.
          example:
          - Food & Beverage
          - Cafes & Coffee Shops
          - Dining Out
          items:
            type: string
          type: array
        logo:
          description: Logo is a base64-encoded PNG or JPEG representing the merchant
            logo.
          example: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+M9QDwADhgGAWjR9awAAAABJRU5ErkJggg=="
          type: string
        location:
          description: Location describes the country and city. May be empty if the
            API returns null.
          example: "United Kingdom, London"
          type: string
        address:
          description: Address describes the exact address of purchase. May be empty
            if the API returns null.
          example: "40-42 Great Portland St, London W1W 7LZ"
          type: string
      required:
      - address
      - categories
      - description
      - location
      - logo
      - merchant
      title: EnrichmentResponse
      type: object
    enrichTransactions_request_inner:
      properties:
        content:
          description: "Content is the payment description, maximum 128 characters."
          example: COSTA PICKUP LONDON
          maxLength: 128
          type: string
        countryCode:
          description: CountryCode is the ISO 3166-1 alpha-2 two-character country
            code.
          example: GB
          maxLength: 2
          minLength: 2
          type: string
      required:
      - content
      - countryCode
      type: object
    EnrichTransactionCollectionResponse:
      example:
        id: 72c037df-d0d3-43ee-9470-323ff35a2e50
        link: https://api.xyo.financial/v1/ai/finance/enrichment/download/72c037df-d0d3-43ee-9470-323ff35a2e50.tar.gz
      properties:
        id:
          description: ID is the work ID for the enrichment request.
          example: 72c037df-d0d3-43ee-9470-323ff35a2e50
          type: string
        link:
          description: Link is the URL to the downloadable tar.gz results archive.
          example: https://api.xyo.financial/v1/ai/finance/enrichment/download/72c037df-d0d3-43ee-9470-323ff35a2e50.tar.gz
          type: string
      required:
      - id
      - link
      title: EnrichTransactionCollectionResponse
      type: object
    EnrichmentCollectionStatusResponse:
      example:
        status: READY
      properties:
        status:
          description: Status represents the processing state of a bulk enrichment
            job.
          enum:
          - READY
          - FAILED
          - PENDING
          example: READY
          type: string
      required:
      - status
      title: EnrichmentCollectionStatusResponse
      type: object
  securitySchemes:
    BearerAuth:
      bearerFormat: JWT
      description: HTTP Bearer authentication scheme using API tokens or JWTs.
      scheme: bearer
      type: http

